@page "/spaces/search"
<link rel="stylesheet" href="/HTML/CSS/Styles.css" />


@using FluentBlazorAuthTest.Data
@using FluentBlazorAuthTest.Data.Services
@using FluentBlazorAuthTest.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.IdentityModel.Tokens


@inject ApplicationDbContext DbContext
@inject NavigationManager NavigationManager
@inject ISpaceService SpaceService
@inject GeocodingService GeocodingService


@attribute [Authorize]

@rendermode InteractiveServer
<div class="pagination-container">
<h1>Search for a Space</h1>
</div>

<FluentDivider Role="DividerRole.Separator"></FluentDivider>
<FluentSpacer Width="25"></FluentSpacer>

@if (!spaces.IsNullOrEmpty())
{
    foreach (var space in spaces)
    {
    <FluentSpacer Width="25"></FluentSpacer>

    <div class="pagination-container">

    <FluentCard Width="80%">
        <p>Location: @space.Address</p>
        <p>Size: @space.Size.ToString()</p>
        <p>Price: $@space.Price</p>
        <p>Description: @space.Description</p>

        @if (space.IsAvailable)
        {
            <p>Availability: Available to book</p>
            <FluentButton OnClick="@(() => BookNow(space.Id))">Book Now</FluentButton>
        }
        else
        {
            <p>Availability: Unavailable</p>
        }
        <p>Vacant Status: @space.IsVacant</p>
        <p>Public Status: @space.IsPublic </p>
    </FluentCard>
     </div>

    <FluentSpacer Width="25"></FluentSpacer>
    }


<div class="pagination-container">
    <FluentButton Disabled="@(currentPage <= 1)" OnClick="PreviousPage">Previous</FluentButton>
    <span> Page @currentPage of @totalPages </span>
    <FluentButton Disabled="@(currentPage >= totalPages)" OnClick="NextPage">Next</FluentButton>
</div>
}
else
{
    <p><em>There are no spaces to display.</em></p>
}


@code {
    private IEnumerable<Space> spaces;
    private int totalSpaces;
    private int currentPage = 1;
    private const int pageSize = 10;
    private int totalPages => (int)Math.Ceiling((double)totalSpaces / pageSize);

    protected override async Task OnInitializedAsync()
    {
    await LoadSpaces();
    }

    private async Task LoadSpaces()
    {
        spaces = await SpaceService.GetAllSpacesAsync();
        (spaces, totalSpaces) = await SpaceService.GetSpacesPageAsync(currentPage, pageSize);

    }
    

    private async Task NextPage()
    {
        if (currentPage < totalPages)
        {
            currentPage++;
            await LoadSpaces();
        }
    }

    private async Task PreviousPage()
    {
        if (currentPage > 1)
        {
            currentPage--;
            await LoadSpaces();
        }
    }
    private void BookNow(string spaceId)
    {
        NavigationManager.NavigateTo($"/book-space/{spaceId}");
    }
    async Task DeleteSpace(string Id)
    {
        await SpaceService.DeleteSpaceAsync(Id);
        spaces = await SpaceService.GetAllSpacesAsync();
    }

}