@page "/Book"

<link rel="stylesheet" href="/HTML/CSS/Styles.css" />
@using FluentBlazorAuthTest.Data
@using FluentBlazorAuthTest.Data.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Microsoft.EntityFrameworkCore
@attribute [Authorize]

@inject UserManager<ApplicationUser> UserManager
@inject IBookingService BookingService
@inject ISpaceService SpaceService
@inject ApplicationDbContext DbContext

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@rendermode InteractiveServer


<PageTitle>My Bookings</PageTitle>

@if (bookings != null && bookings.Any())
{
    DisplaySections();
}
else
{
    <p><em>You don't have any bookings. Why not search for one?</em></p>
    <FluentButton Appearance="Appearance.Accent" @onclick="Search">Search</FluentButton>
}

@code {
    private IEnumerable<Booking> bookings;
    private ApplicationUser currentUser;
    private ClaimsPrincipal user;

    private int totalBookings;
    private int currentPage = 1;
    private const int pageSize = 2;
    private int totalPages => (int)Math.Ceiling((double)totalBookings / pageSize);

    private Dictionary<string, Space> spaceDetailsForBookings = new Dictionary<string, Space>();



    protected override async Task OnInitializedAsync()
    {
        await InitializeUserAsync();
        await LoadBookings();
        await LoadDataSpacesAsync();

    }

private async Task LoadBookings()
{
    var allBookings = await BookingService.GetAllBookingsAsync();
    var filteredBookings = FilterBookingsForUser(allBookings);

    totalBookings = filteredBookings.Count();
    bookings = ApplyPagination(filteredBookings, currentPage, pageSize);
}

private IEnumerable<Booking> FilterBookingsForUser(IEnumerable<Booking> allBookings)
{
    return allBookings.Where(b => user.IsInRole("Admin") || b.ClientUserId == currentUser.Id);
}

private IEnumerable<Booking> ApplyPagination(IEnumerable<Booking> bookings, int page, int pageSize)
{
    return bookings.Skip((page - 1) * pageSize).Take(pageSize);
}

    private async Task InitializeUserAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var userId = UserManager.GetUserId(user);
            currentUser = await UserManager.FindByIdAsync(userId);
        }
    }
    private async Task LoadDataSpacesAsync()
{
    spaceDetailsForBookings.Clear();

    foreach (var booking in bookings)
    {
        if (booking != null && !spaceDetailsForBookings.ContainsKey(booking.SpaceId))

        {
            Space space = await SpaceService.GetSpaceByIdAsync(booking.SpaceId);
            if (space != null)
            {
                spaceDetailsForBookings[booking.SpaceId] = space;
            }
        }
    }
}
    private void EditBooking(string Id)
    {
        NavigationManager.NavigateTo($"/edit-booking/{Id}");
    }
    private async Task CancelBooking(string Id)
{
    var bookingToCancel = await DbContext.Bookings.FindAsync(Id);
    if (bookingToCancel != null)
    {
        var spaceToUpdate = await DbContext.Spaces.FindAsync(bookingToCancel.SpaceId);
        if (spaceToUpdate != null)
        {
            spaceToUpdate.IsAvailable = true;
            DbContext.Spaces.Update(spaceToUpdate);
        }

        // Cancel the booking
        bookingToCancel.IsActive = false;
        bookingToCancel.EndDateTime = DateTime.Now;
        await DbContext.SaveChangesAsync();

        await LoadBookings();
        StateHasChanged();
    }

    NavigationManager.NavigateTo("/Book/");
}
public async Task PayForBooking(string bookingId)
    {
        var booking = await DbContext.Bookings.FindAsync(bookingId);

        if (booking != null)
        {
            booking.PaymentStatus = PaymentStatus.Paid;

            if (booking.Space != null)
            {
                booking.Space.LatestTransaction = DateTime.UtcNow;
                DbContext.Spaces.Update(booking.Space); 
            }

            await DbContext.SaveChangesAsync();

            NavigationManager.NavigateTo("/Book/");
        }
    }
    public async Task DeleteBooking(string Id)
    {
        var bookingToDelete = await DbContext.Bookings.FindAsync(Id);

        if (bookingToDelete != null)
        {
            DbContext.Bookings.Remove(bookingToDelete);

            await DbContext.SaveChangesAsync();

            NavigationManager.NavigateTo("/Book/");


        }
    }

    private async Task NextPage()
    {
        if (currentPage < totalPages)
        {
            currentPage++;
            await LoadBookings();
        }
    }

    private async Task PreviousPage()
    {
        if (currentPage > 1)
        {
            currentPage--;
            await LoadBookings();
        }
    }
    
    void Search() => NavigationManager.NavigateTo("/spaces/search");
}
@{
    void DisplaySections()
    {
        DisplaySection("Pending Bookings", bookings.Where(b => b.PaymentStatus == PaymentStatus.Unpaid && b.IsActive));
        DisplaySection("Current Bookings", bookings.Where(b => b.IsActive && b.EndDateTime > DateTime.Now && b.PaymentStatus != PaymentStatus.Unpaid));
        DisplaySection("Past Bookings", bookings.Where(b => b.EndDateTime <= DateTime.Now || !b.IsActive));
    }

    void DisplaySection(string title, IEnumerable<Booking> bookings)
    {
        <div class="pagination-container">
            <h1>@title</h1>
        </div>
        <FluentDivider Role="DividerRole.Separator"></FluentDivider>

        if (bookings.Any())
        {
            bool displayMessage = true;
            foreach (var booking in bookings)
            {
                <FluentSpacer Width="25"></FluentSpacer>

                if (user.IsInRole("Admin") || booking.ClientUserId == currentUser.Id)
                {
                 displayMessage = false;
                <div class="pagination-container">
                <FluentCard Width="80%">

                    <main class="bookings-page-content">
                        <section class="booking-management">
                            <div class="bookings-list">
                                <div class="booking-item">
                                    @if (spaceDetailsForBookings.TryGetValue(booking.SpaceId, out var space))
                                    {
                                        <h3 class="space-address">@space.Address</h3>
                                         <p class="booking-details">Booking Id: @booking.Id</p>
                                         <p class="booking-details">Total Price: @booking.Price.ToString("C")</p>
                                         <p class="booking-details">Payment Status: @booking.PaymentStatus.ToString()</p>
                                         <p class="booking-details"> Active Status: @booking.IsActive </p>
                                         <p class="booking-details"> Is Available: @space.IsAvailable </p>
                                          <p class="booking-details"> </p>
                                    }
                                </div>
                                <div class="booking-actions">
                                        <FluentButton OnClick="@(() => EditBooking(@booking.SpaceId))">Edit</FluentButton>

                                        <FluentButton OnClick="@(() => CancelBooking(@booking.Id))">Cancel</FluentButton>
                                        @if (booking.PaymentStatus != PaymentStatus.Paid)
                                            {
                                                <FluentButton Appearance="Appearance.Accent" @onclick="@(() => PayForBooking(booking.Id))">Pay Now</FluentButton>
                                            }
                                        @if (user != null && user.IsInRole("Admin"))
                                        {
                                            <FluentButton Appearance="Appearance.Lightweight" Color="Red" @onclick="@(() => DeleteBooking(booking.Id))">Delete</FluentButton>
                                        }
                                    </div>
                            </div>
                        </section
                    </main>
                    </FluentCard>

                    </div>
                    <FluentSpacer Width="25"></FluentSpacer>

                }
            }
            <div class="pagination-container">
                    <FluentButton Disabled="@(currentPage <= 1)" OnClick="PreviousPage">Previous</FluentButton>
                    <span> Page @currentPage of @totalPages </span>
                    <FluentButton Disabled="@(currentPage >= totalPages)" OnClick="NextPage">Next</FluentButton>
                     </div>
        }
        else
        {
            <p><em>No bookings in this category.</em></p>
        }
    }
}
