@page "/Support"
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Support</PageTitle>

<div class="container">
    <h2>Welcome to Our Support Center</h2>
    <FluentAccordion ActiveId="@activeAccordionId" OnAccordionItemChange="OnAccordionItemChange">
        <FluentAccordionItem Heading="Terms of Service" Expanded="@IsExpanded(1)">
            <div class="accordion-content">
                <p>
                    Welcome to ParkPal! By using our application, you agree to abide by our terms and conditions.
                    ParkPal provides a platform to facilitate parking space booking, offering convenience and ease of access.
                    Users are responsible for accurate information, respectful interactions, and adhering to local
                    parking regulations. ParkPal retains the right to update terms and policies, and users are
                    encouraged to review them regularly. Your continued use of the application constitutes acceptance
                    of any modifications made. Thank you for choosing ParkPal!
                </p>
            </div>
        </FluentAccordionItem>
        <FluentAccordionItem Heading="Policies" Expanded="@IsExpanded(2)">
            <div class="accordion-content">
                <p>
                    Our Privacy Policy at ParkPal underscores our commitment to safeguarding user information.
                    We prioritize the security and confidentiality of personal data shared while using our application.
                    ParkPal collects necessary information solely to enhance user experience and facilitate parking reservations.
                    We do not share or sell personal data to third parties without consent. By utilizing ParkPal, users acknowledge
                    and consent to our data collection practices outlined in the Privacy Policy. We encourage reviewing our policy
                    to stay informed about the handling of your information. Your trust in ParkPal is fundamental to us.
                </p>
            </div>
        </FluentAccordionItem>
        <FluentAccordionItem Heading="Refunds" Expanded="@IsExpanded(3)">
            <div class="accordion-content">
                <p>
                    At ParkPal, we strive to ensure your satisfaction with our services.
                    Our refund policy aims to provide clarity and fairness in managing refunds for parking reservations.
                    Refunds are issued under specific circumstances, such as cancellations made within the specified time frame
                    before the scheduled parking period. Please review our detailed Refund Policy for a comprehensive understanding of eligible conditions, timelines, and processes for refunds.
                    We value your patronage and are dedicated to addressing your concerns regarding refunds promptly and fairly.
                </p>
            </div>
        </FluentAccordionItem>
        <FluentAccordionItem Heading="Careers" Expanded="@IsExpanded(4)">
            <div class="accordion-content">
                <p>
                    Explore exciting career opportunities at ParkPal, where innovation and collaboration thrive.
                    Join us in shaping the future of parking solutions and be part of a dynamic team committed to driving
                    meaningful change. Whether you're passionate about technology, marketing, operations, or customer
                    experience, we provide an environment that fosters growth and creativity. At ParkPal,
                    we value diverse perspectives and aim to create a workplace that encourages excellence and innovation.
                    Discover your potential with us and contribute to redefining convenience in the parking industry.
                </p>
            </div>
        </FluentAccordionItem>
        <FluentAccordionItem Heading="Disability Support" Expanded="@IsExpanded(5)">
            <div class="accordion-content">
                <p>
                    At ParkPal, we are committed to inclusivity and ensuring accessibility for all.
                    Our Disability Support services are designed to provide comprehensive assistance and resources for
                    individuals with diverse needs. We strive to create an environment that accommodates different abilities,
                    offering tailored support to enhance accessibility across our platform. Whether it's specialized parking
                    options, accessible features in our app, or personalized assistance, we are dedicated to empowering everyone
                    to navigate parking effortlessly. ParkPal advocates for an inclusive experience, aiming to break barriers
                    and promote equality for individuals of all abilities.
                </p>
            </div>
        </FluentAccordionItem>
    </FluentAccordion>
</div>


@code {
    string activeAccordionId = "";

    bool IsExpanded(int id) => activeAccordionId == id.ToString();

    //  triggered on accordion item change

    void OnAccordionItemChange(FluentAccordionItem item)
    {
        if (item != null)
        {
            activeAccordionId = item.Id;
        }
    }

}